.cell {
  min-height: 5em;
  min-width: 5em;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.300);
  border-style: solid;
}

.cell.selected {
  background-color: yellow;
}

.cell.win {
  background-color: yellowgreen;
}

.cell.wrong {
  background-color: coral;
}
